/* FILE: src/components/Home.css */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
  }
  
  .home-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    opacity: 0; /* Initial state for GSAP animation */
    transform: translateY(-50px); /* Initial state for GSAP animation */
  }
  
  .home-header {
    font-size: 2em;
    color: var(--header-color);
    margin-bottom: 10px;
    opacity: 0; /* Initial state for GSAP animation */
    transform: translateY(-50px); /* Initial state for GSAP animation */
  }
  
  .home-content {
    font-size: 1.2em;
    color: var(--text-color);
    opacity: 0; /* Initial state for GSAP animation */
    transform: translateY(50px); /* Initial state for GSAP animation */
  }